body{
    background-image: url("../Img/gestion_ventas/xb183nah8klkmj8nsinr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

textarea{
    resize: none;
}

span{
    color: rgb(154, 4, 4);
    font-style: italic;
    font-weight: bold;
}

.desactivado{
    display: none;
}