<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Mayoristas - Panadería El Maná</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_gestion_mayorista.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_gestion.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <main id="main">
		<form action="" class="formulario" id="formulario">
            <div class="card-header navbar-dark ">
                <h1 class="h3 mb-0 formulario__label"style="color: #ffffff">Registro mayorista</h1>
            </div>
            <div class="form-container">
                <div class="form-background">
                    <!-- Grupo: Razon social -->
                    <div class="formulario__grupo" id="grupo__numeroPedido">
                        <label for="numeroPedido" class="formulario__label">Razon social</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="razonSocial" id="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                    </div>
    
                    <!-- Grupo: Cuit -->
                    <div class="formulario__grupo" id="grupo__cuit">
                        <label for="cuit" class="formulario__label">Cuit:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="cuit" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Cuit incorrecto.</p>
                    </div>
    
    
                    <!-- Grupo: Direccion -->
                    <div class="formulario__grupo">
                        <label for="direccion" class="formulario__label">Direccion:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" name="direccion" class="formulario__input">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingrese una direccion.</p>
                    </div>
                    <!-- Grupo: telefono -->
                    <div class="formulario__grupo">
                        <label for="telefono" class="formulario__label">Telefono:</label>
                        <div class="formulario__grupo-input">
                            <input type="text" name="telefono" class="formulario__input">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingrese un telefono.</p>
                    </div>

                    <!-- Grupo: email -->
                    <div class="formulario__grupo">
                        <label for="correo" class="formulario__label">Email de contacto:</label>
                        <div class="formulario__grupo-input">
                            <input type="email" name="correo" class="formulario__input">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingrese un correo.</p>
                    </div>

                    <!-- Grupo: condicion de venta -->
                    <div class="formulario__grupo">
                        <label for="condicionVenta" class="formulario__label">Condicion de venta:</label>
                        <div class="formulario__grupo-input">
                            <select name="condicionVenta" class="formulario__input">
                                <option value="" hidden>SELECCIONE</option>
                                <option value="contado">Contado</option>
                                <option value="credito">Credito</option>
                            </select>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingrese un correo.</p>
                    </div>

                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                    </div>
                    <div class="formulario__mensaje-exito" id="formulario__mensaje-exito">
                        <p><i class="fas fa-exclamation-triangle"></i> Formulario enviado exitosamente!</p>
                    </div>
                </div>	
            </div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn"><i class="bi bi-cart4  me-2"></i>Registrar Mayorista</button>
			</div>
		</form>
        </div>
	</main>
    
    <footer class="py-1 mt-8 fixed-bottom">
        <div class="card-footer container text-center">
            <p class=" mb-0">&copy; 2024 Panadería El Mana. Todos los derechos reservados.</p>
        </div>
    </footer>
    {% endblock%}
    {% block js %}
    <!-- <script src="{% static 'scripts/gestion_ventas/script_ventas.js' %}"></script>
    <script src="{% static 'scripts/gestion_ventas/script_ventas_productos.js' %}"></script> -->
    {% endblock %}   
</body>
</html>