html,body{
    height: 100%;
}


body{
    background-image: url("../img/pedidos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 
  
}

section div .card-header{
    background-color: #d88d22;
    color: white;
  
}


button:hover[type="submit"]{
    background-color: #b3741d;
    border-color: #d88c2255;

}


button[type="submit"]{
    

    border-color: #d88c2255;
    background-color: #d88d22;
}


button:active[type="submit"]{
    background-color: #925f18;
    border-color: #d88c2255;
    color: black;
}

a {
    text-decoration: none;
}