<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gestión de Productos</title>
    </head>
    
    <body>

        <h1>Gestión de Productos</h1>

        <form action="" method="post">

            <label for="id_producto">ID de producto:</label>
            <input required type="number" id="id_producto" name="ID de producto">
            <br><br>

            <label>Categoria de producto:</label><br>
            <input required type="radio" name="categoria_producto" value="Panificación">
            <label>Panificación</label><br>
            <input required type="radio" name="categoria_producto" value="Pastelería">
            <label>Pastelería</label>
            <br><br>

            <label for="desc_producto">Descripción del producto:</label>
            <input type="text" id="desc_producto" name="Descripción de producto">
            <br><br>

            <label for="costo_producto">Precio del producto:</label>
            <input type="number" id="costo_producto" name="Costo de producto">
            <br><br>

            <label for="cant_producto">Cantidad disponible:</label>
            <input type="number" id="cant_producto" name="Cantidad disponible de producto">
            <br><br>

            <input type="submit" value="Agregar">
            <input type="submit" value="Editar">
            <input type="submit" value="Eliminar">
            <br><br>

        </form>
    </body>
</html>